.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.title {
    z-index: 1;
    position: absolute;
}


.scene-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.logout-button {
    position: absolute;
    bottom: 20px;
    z-index: 1;
}