.quiz-content-section {
  text-align: center;
  padding: 40px 0;
}

.quiz-card-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 54px;
}
