.quiz-experience-section {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-top: 0; 
}


.quiz-experience-container {
  height: 100%;
  scroll-snap-align: center;
  width: 100%;
}

.canvas-container {
  width: 120px; 
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  border: none; 
}
