/* LoaderComponent.css */

.loader-main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #0077be, #001f3f);
    color: #ffffff;
}

.loader-controls-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.loader-keys,
.loader-mouse {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
    height: 220px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.loader-keys h2,
.loader-mouse h2 {
    font-size: 22px;
    margin: 10px 10px;
}

.loader-mouse img {
    margin-top: 10px;
    width: 110px;
    height: auto;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.6));
}

.loader-keys img {
    margin-top: 20px;
    width: 200px;
    height: auto;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.6));
}

.loader-loading {
    font-size: 24px;
    color: #ffffff;
    margin-top: 60px;
}

.loader-loading::after {
    content: '...';
    display: inline-block;
    animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        content: '.';
    }

    40% {
        content: '..';
    }

    60%,
    100% {
        content: '...';
    }
}