.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content {
  padding: 20px;
}

.modal-content h2 {
  color: var(--color-true-blue);
}

.modal-button {
  background-color: var(--color-cornflower-blue);
  color: white;
}

.modal-button:hover {
  background-color: var(--color-true-blue);
  color: white;
  filter: brightness(1.1);
}