.nav-container {
    background-color: var(--color-cornflower-blue);
    color: white;
    padding: 20px 40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.nav-menu li {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-menu li a:hover {
    background-color: var(--color-true-blue);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.nav-menu-logout {
    margin-left: auto;
}

.nav-menu-logout button {
    background-color: var(--color-cornflower-blue);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-weight: bold;
    user-select: none;
}

.nav-menu-logout button:hover {
    background-color: var(--color-true-blue);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.nav-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--color-cornflower-blue);
    list-style: none;
    margin: 0;
    padding: 0;
    top: 100%;
    left: 0;
    min-width: 200px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.nav-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu li a:hover {
    background-color: var(--color-true-blue);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}