/* NavBar.css */
.nav-container {
    background-color: var(--color-cornflower-blue);
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 20px 40px;
    /* Espaciado interno */
    height: 60px;
    /* Altura fija */
    display: flex;
    /* Utiliza flexbox */
    justify-content: space-between;
    /* Espacia los elementos */
    align-items: center;
    /* Centra los elementos verticalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente */
}

.nav-menu {
    display: flex;
    /* Utiliza flexbox para los elementos de la lista */
    justify-content: flex-start;
    /* Alinea los elementos del menú al inicio */
    flex-grow: 1;
    /* Permite que el menú crezca para ocupar el espacio disponible */
}

.nav-menu ul {
    list-style: none;
    /* Elimina el estilo de lista */
    display: flex;
    /* Utiliza flexbox para los elementos de la lista */
    gap: 50px;
    /* Espacio mayor entre elementos de la lista */
    padding: 0;
    /* Elimina el padding del ul */
    margin: 0;
    /* Elimina el margen del ul */
    flex-grow: 1;
    /* Permite que los elementos crezcan para ocupar el espacio disponible */
}

.nav-menu li {
    display: flex;
    align-items: center;
    /* Centra los elementos verticalmente */
}

.nav-menu a {
    color: white;
    /* Color del texto de los enlaces */
    text-decoration: none;
    /* Sin subrayado */
    font-size: 15px;
    /* Aumenta el tamaño de los enlaces */
}

.nav-menu a:hover {
    color: var(--color-true-blue);
    /* Color al pasar el ratón */
}

.nav-menu-logout {
    margin-left: auto;
    /* Empuja el enlace de Cerrar sesión a la derecha */
}