:root {
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --font-family-button: 'Quicksand', sans-serif;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-medium: 500;

  --color-cornflower-blue: #486ECA;
  --color-cerulean-blue: #2C53AB;
  --color-true-blue: #003ABC;
  --color-slate-blue: #5752B9;
  --color-persian-blue: #3E399A;
  --color-charcoal-gray: #4A4A4A;
}

body {
  font-family: var(--font-family-primary);
}

h1,
h2 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-bold);
}

h3,
h4 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
}

button,
label {
  font-family: var(--font-family-button);
  font-weight: var(--font-weight-medium);
}